<!-- sort by -->
<mat-form-field class="order">
  <mat-select placeholder="Sort By" [(value)]="selectedSort" (selectionChange)="sortBy(selectedSort)">
    <mat-option value="1">
      Name A-Z
    </mat-option>
    <mat-option value="-1">
      Name Z-A
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- list genre -->
<div class="container">
  <div class="responsive" *ngFor="let data of listGenre; let i = index">
  	<div class="gallery">
      <div class="img z-depth-1">
        <a>
          <img src="{{resource}}{{data.image}}" class="grayscale">
          <div class="overlay">
            <div class="text"><i class="fa fa-plus fa-2x"></i></div>
          </div>
        </a>
      </div>
      <div class="desc h6 orange-text">{{ data.genre }}</div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
