<!-- sort by -->
<mat-form-field class="order">
  <mat-select placeholder="Sort By" [(value)]="selectedSort">
    <mat-option value="1">
      Name A-Z
    </mat-option>
    <mat-option value="-1">
      Name Z-A
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="container mb-3">
  <div class="row">
    <div class="col-10 text-center">
      <p class="d-inline m-1" style="padding: 10px 15px; cursor: pointer;" (click)="setFilterAlphabet('all')">All</p>
      <p class="d-inline m-1" style="padding: 10px 15px; cursor: pointer;" (click)="setFilterAlphabet('a')">A</p>
      <p class="d-inline m-1" style="padding: 10px 15px; cursor: pointer;" (click)="setFilterAlphabet('b')">B</p>
    </div>
  </div>
</div>

<!-- list artis -->
<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let data of listArtist | paginate: { itemsPerPage: 1, currentPage: p }; let i = index">
      <div class="gallery">
        <div class="img z-depth-1">
          <a>
            <img [src]="data.img" class="grayscale">
            <div class="overlay">
              <div class="text"></div>
            </div>
          </a>
        </div>
        <div class="desc h6 green-text">{{data.artis}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto d-block">
      <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
