<div class="container-fluid bg">

  <div class="row">

    <div class="col-sm-12 col-md-6">
       <div class="row" style="height: 100%;">
        <div class="col-10 mx-auto d-block">
          <div class="intro">
            <div class="sub-intro">
              <p class="h1 py-1" style="border-bottom: 3px solid white;">Now Playing</p>
              <h3 class="py-2">Listen Your Favorite Songs</h3>
              <button mdbBtn type="button" color="info" [ngClass]="{'running':disableAndLoadingButtonTryIt}" class="waves-light ld-over-inverse" (click)="tryAsGuest()" [disabled]="disableAndLoadingButtonTryIt" mdbWavesEffect>
                <div class="ld ld-ring ld-spin" style="font-size:2em"></div>
                Try It !!!
              </button>
            </div>
          </div>
        </div>
      </div>
   </div>

    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-12 col-lg-10 col-xl-8 mx-auto d-block">
          <!-- Default form login -->
          <mat-card>
            <form [formGroup]="loginForm" (submit)="cekLogin()" class="p-5">
              <p class="h4 mb-4 text-center">
                <i class="fa fa-user-circle-o prefix"></i>
                Sign in
              </p>
              <div class="md-form form-sm pb-1">
                <i class="fa fa-user prefix"></i>
                <input mdbInputDirective type="text" id="login-username" class="form-control" formControlName="username" data-error="Required" data-success=" ">
                <label for="login-username">Username</label>
              </div>
              <div class="md-form form-sm pb-1">
                <i class="fa fa-lock prefix"></i>
                <input mdbInputDirective type="password" id="login-password" class="form-control" formControlName="password" data-error="Required" data-success=" ">
                <label for="login-password">Password</label>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                  <!-- Remember me -->
                  <mat-checkbox color="primary" formControlName="remember">Remember Me</mat-checkbox>
                </div>
                <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
                </div>
              </div>
              <!-- Sign in button -->
              <button mdbBtn color="info" block="true" type="submit" [ngClass]="{'running':disableAndLoadingButtonSignIn}" class="waves-light my-3 ld-over-inverse" [disabled]="disableAndLoadingButtonSignIn" mdbWavesEffect>
                <div class="ld ld-ring ld-spin" style="font-size:2em"></div>
                <i class="fa fa-sign-in prefix mr-1"></i>
                Sign in
              </button>
              <!-- Register -->
              <p class="text-center">Not a member?
                <a href="">Register</a>
              </p>
            </form>
          </mat-card>
          <!-- Default form login -->
        </div>
      </div>
    </div>

  </div>

</div>
