<div class="container-fluid">

  <!-- menu -->
  <div class="menu">
    <mat-chip-list>
      <mat-chip class="sub-menu primary-color h6" (click)="setStateMenu('home')" selected>Home</mat-chip>
      <mat-chip class="sub-menu success-color h6" (click)="setStateMenu('artist')" selected>Artist</mat-chip>
      <mat-chip class="sub-menu warning-color h6" (click)="setStateMenu('genre')" selected>Genre</mat-chip>
    </mat-chip-list>
  </div>


	<!-- list yang akan ditampilkan -->
  <div>
  	<app-music-home *ngIf="stateMenu == 'home'"></app-music-home>
  	<app-artist *ngIf="stateMenu == 'artist'"></app-artist>
  	<app-genre *ngIf="stateMenu == 'genre'"></app-genre>
  </div>
</div>
